# https://www.osgeo.cn/python-packaging/guides/using-manifest-in.html

include requirements.txt
include README.md
graft djmyframework
global-exclude tmp/*
global-exclude logs/
global-exclude test*
global-exclude __pycache__
global-exclude *.py[co]
global-exclude *.log
global-exclude *.db
global-exclude *.rdb
global-exclude *.tmp
global-exclude static/upload
