{% include "framework/js_css.html" %}


<!--  jquery datatable-->
<script src="/static/assets/datatable/jquery.dataTables.min.js"></script>
<script src="/static/assets/datatable/dataTables.bootstrap.js"></script>

<script src="/static/assets/datatable/dataTables.fixedColumns.min.js"></script>

<link href="/static/assets/datatable/dataTables.bootstrap.min.css" rel="stylesheet"/>
<link href="/static/assets/datatable/fixedColumns.bootstrap.min.css" rel="stylesheet"/>


<script src="/static/assets/datatable/dataTables.fixedHeader.min.js"></script>
<link href="/static/assets/datatable/fixedHeader.dataTables.min.css" rel="stylesheet"/>

<!--日期控件-->
<script type="text/javascript" src="/static/assets/My97DatePicker/WdatePicker.js"></script>


<!-- 选择框 -->
<link rel="stylesheet" href="/static/assets/ace/assets/css/chosen.css"/>
<script src="/static/assets/ace/assets/js/chosen.jquery.min.js"></script>


<!-- asc styles-->
<link rel="stylesheet" href="/static/assets/ace/assets/css/ace.min.css?v={{ settings.VERSION }}"/>
<link rel="stylesheet" href="/static/assets/ace/assets/css/ace-rtl.min.css?v={{ settings.VERSION }}"/>
<link rel="stylesheet" href="/static/assets/ace/assets/css/ace-skins.min.css?v={{ settings.VERSION }}"/>
<link rel="stylesheet" href="/static/assets/ace/assets/css/font-awesome.min.css?v={{ settings.VERSION }}"/>

<script src="/static/assets/ace/assets/js/ace.min.js?v={{ settings.VERSION }}"></script>
<script src="/static/assets/ace/assets/js/ace-elements.min.js?v={{ settings.VERSION }}"></script>
<script src="/static/assets/ace/assets/js/ace-extra.min.js?v={{ settings.VERSION }}"></script>



<!-- tabletree -->
<script src="/static/assets/treetable/jquery.treetable.js"></script>
<link rel="stylesheet" href="/static/assets/treetable/jquery.treetable.css" />
<link rel="stylesheet" href="/static/assets/treetable/jquery.treetable.theme.default.css" />


<!-- doT -->
<script type="text/javascript" src="/static/assets/dot/doT2.min.js"></script>


<link rel="stylesheet" href="/static/old/css/style.css?v={{ settings.VERSION }}"/>
<script src="/static/old/js/ui.js?v={{ settings.VERSION }}"></script>
